* {
    /*font-family: "SauceCodePro Nerd Font";*/
    font-family: "Roboto", "NotoSans Nerd Font", sans-serif;
    font-size: 14pt;
    border-radius: 0;
    margin: 0;
    padding: 0;
}

#window {
    padding: 0.2em 2em;
}

tooltip {
    background: rgba(40, 42, 54, 0.8);
    border: 1px solid #44475a;
    border-radius: 1em;
}

tooltip label {
    color: white;
}

tooltip label {
    /*font-family: "SauceCodePro Nerd Font", monospace;*/
    font-family: "CommitMono Nerd Font Mono", monospace;
}

window#waybar {
    background: rgba(40, 42, 54, 0.6);
    color: #F8F8F2;
}

window#waybar.empty {
    background: rgba(0, 0, 0, 0);
}

#workspaces button {
    padding: 0 .5em;
    color: #F8F8F2;
}

#workspaces button.focused {
    color: #8BE9FD;
}

#workspaces button.urgent {
    color: #FF79C6;
}

#clock,
#battery,
#bluetooth,
#cpu,
#memory,
#temperature,
#backlight,
#network,
#pulseaudio,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#group-power {
    margin: 0 .5em;
}

#pulseaudio,
#backlight {
    color: #FF6D6A;
}

#network {
    color: #EFBE7D;
}

#memory,
#cpu {
    color: #E9EC6B;
}

#temperature {
    color: #77dd77;
}

#battery,
#bluetooth,
#languages {
    color: #8BD3E6;
}

#clock {
    color: #B1A2CA;
}

#battery.critical,
#temperature.critical,
#pulseaudio.muted,
#network.disconnected {
    color: #FF5555;
}

#battery.charging {
    color: #50FA7B;
}

#battery.warning,
#idle_inhibitor.activated {
    color: #F1FA8C;
}